In [4]:
import os

import pandas as pd
import numpy as np

In [5]:
PATH = os.path.abspath("C:/Users/Jan/Dropbox/_Programmieren/UdemyML/Chapter13_CaseStudies/CaseStudyIncome/1_Solution")
DATA_PATH = os.path.join(PATH, "adult.xlsx")

In [6]:
df = pd.read_excel(DATA_PATH)

In [7]:
print(df.columns)

Index(['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [8]:
print(df.dtypes)

age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
gender            object
hours-per-week     int64
native-country    object
income            object
dtype: object

In [9]:
print(df.shape, df.size)

(48842, 11) 537262

In [10]:
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,Some-college,Never-married,?,Own-child,White,Female,30,United-States,<=50K

In [11]:
for col in df.columns:
    print(col, " Number of categories: ", len(df[col].value_counts()))

age  Number of categories:  74
workclass  Number of categories:  9
education  Number of categories:  16
marital-status  Number of categories:  7
occupation  Number of categories:  15
relationship  Number of categories:  6
race  Number of categories:  5
gender  Number of categories:  2
hours-per-week  Number of categories:  96
native-country  Number of categories:  42
income  Number of categories:  2

In [12]:
data = df.to_numpy()
x = data[:,:-1] # Gehe bis zur letzten Spalte (die aber nicht einschlie√ülich)
y = data[:,-1] # Nimm nur die letzte Spalte

print(x.shape, y.shape)

# <=50K: Klasse 0
# >50K: Klasse 1
y = np.array([0 if val == "<=50K" else 1 for val in y], dtype=np.int8)

print(y)
x[:,[0,9]] = x[:,[9,0]]
print(x[0])

(48842, 10) (48842,)
[0 0 1 ... 0 0 1]
['United-States' 'Private' '11th' 'Never-married' 'Machine-op-inspct'
 'Own-child' 'Black' 'Male' 40 25]

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [14]:
# Race: White, Black, Asian
#         0       1     2
#     [1,0,0]  [0,1,0]  [0,0,1]
# Kateogrie White = Kategorie 0 => [1, 0, 0]

In [15]:
enc = OneHotEncoder(handle_unknown="ignore")
enc.fit(x[:,:-2])

x_cat = enc.transform(x[:,:-2]).toarray()
x_cat = np.append(x_cat, x[:,-2:], axis=1)
print(x_cat.shape)
print(x_cat[0])

(48842, 104)
[0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 40 25]

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x_cat, y, test_size=0.3)

print(x_train.shape, x_test.shape)

(34189, 104) (14653, 104)